* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
}
body{
    background-color: #ffcc8e;
}
.home-screen{
    width:100%;
    height: 100%;
    padding:40px;
    background-color: #FFCC8E;
    position: absolute;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap:10px;

    overflow: hidden;
}
.home-screen h1{
    z-index: 2;
    font-size: 6rem;
    color: #2B1800;
}
.home-box{
    z-index: 1;
    width:90px;
    height:90px;
    background-color: #2B1800;
    position: absolute;
}
.play{
    z-index: 2;
    /* font-size: 2rem; */
    /* padding:10px 30px; */
    border-radius: 10px;
    border: none;
    cursor: pointer;
    /* background-color: rgb(41, 62, 100); */
    color: white;
    text-transform: uppercase;

}


main{
    width:100%;
    height:100%;

    background-color: #ffcc8e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.text{
    width:25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#2B1800;
    font-weight: bold;
    font-size: 1.5rem
}
.gameArea{
    width:25%;
    height: 75%;

    border:2px solid #2B1800;
    border-radius: 10px;
    padding:10px;
    position: relative;
}
.box{
    width:70px;
    height:70px;
    background-color: #2B1800;
    box-shadow:inset 2px 2px 2px white;

    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 0.8rem;
    font-weight: 600;
    position: absolute;
    /* left: 100%; */
}
.box p{
    cursor: default;
}
.box:hover{
    border: 1px dashed white;
}
.start{
    width:fit-content;
    border:none;
    cursor: pointer;
    padding:5px 20px;
    border-radius: 6px;
    /* font-size: 1.3rem; */
    font-weight: 600;
    /* background-color: #f1a619e7;
    color: #e9e9e9; */

    

}
.start a{
    font-size: 1.3rem;
}
.start a{
    padding:10px 140px;
}

/* .start:hover{
    background-color: #b87d11e7;
} */
.disabled{
    /* cursor: not-allowed !important; */
    pointer-events: none;
    opacity: 0.5;        
}

.game-over{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    background-color: rgba(0, 0, 0, 0.253);
    backdrop-filter: blur(10px);

    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;

    font-size: 5rem;
    color:white;    
}

.game-over p:nth-child(2){
    font-size: 2rem;
    text-transform: uppercase;
    width:23%;
    border: 1px solid red;
    border-radius: 10px;
    padding:10px;
}
.restart{
    font-size: 2rem;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;

    cursor: pointer;
}

.game-over p{
    font-size: 1.2rem;
}